<!DOCTYPE html>
<html>

<head>
  <title>Trip Planner - @ViewBag.Title</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

  <div id="sidebar">
    <img src="~/img/user1.jpg" alt="headshot" class="headshot" />
    <span>Generic User</span>
    <ul class="menu">
      <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
      <li><a asp-controller="Home" asp-action="About">About</a></li>
      <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div id="main">
        <div>
            <button id="menuToggle">Hide Menu</button>
        </div>
            @RenderBody()
        <div id="footer">
            &copy; 2015 Trip Planner Ltd.
        </div>
    </div>
  </div>

  <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
  @RenderSection("scripts", false)

  <script type="text/javascript" src="~/js/site.js"></script>
</body>

</html>